<header>

  <app-menu-bar></app-menu-bar>

</header>



<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles_main">
  <app-big-card
    imgBigCard="https://cdnb.artstation.com/p/assets/images/images/039/672/001/large/alexey-mykhaliuk-illustration76-2less.jpg?1626604590"
    titleBigCard="Grimm chega a Hollow Knight"
    descriptionBigCard="o palhaço da festa chegou para apresentação no mundo de hollow knight">
  </app-big-card>


  </div>


  <div class="articles_others">
      <app-small-card imgSmallCard="https://motionbgs.com/i/c/364x205/media/3778/hollow-knigth-and-hornet.jpg" titleSmallCard="hollow knight um jogo divertido"></app-small-card>
      <app-small-card imgSmallCard="https://motionbgs.com/i/c/364x205/media/3778/hollow-knigth-and-hornet.jpg" titleSmallCard="hollow knight um jogo divertido"></app-small-card>
      <app-small-card imgSmallCard="https://motionbgs.com/i/c/364x205/media/3778/hollow-knigth-and-hornet.jpg" titleSmallCard="hollow knight um jogo divertido"></app-small-card>
  </div>
</div>
