<header>

  <app-menu-bar></app-menu-bar>

</header>



<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles_main">
  <app-big-card
  imgBigCard="https://blog.soaresdev.com/assets/img/html5/html5.png"
  titleBigCard="HTML(HyperText Markup Language)"
  descriptionBigCard="O HTML (HyperText Markup Language) é a linguagem fundamental para a criação de páginas na web. Ele define a estrutura e a organização do conteúdo, permitindo que navegadores interpretem e exibam informações para os usuários de forma visual e interativa.">
  </app-big-card>


  </div>


  <div class="articles_others">
      <app-small-card imgSmallCard="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzXZPle_VMPxudU3icf_8r_sy6JWVyyUvMTw&s" titleSmallCard="CSS (Cascading Style Sheets)"></app-small-card>

  </div>
</div>
